<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Recipe Website</h1>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}! (<a href="{% url 'logout' %}">Logout</a>)</p>
        {% else %}
            <p>(<a href="{% url 'login' %}">Login</a>) or (<a href="{% url 'registration' %}">Register</a>)</p>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
