{% extends 'base.html' %}
{% load static %}

{% block title %}
    Delete Recipe
{% endblock %}

{% block content %}
    <h2>Delete Recipe</h2>
    {% if messages %}
    <script>
        {% for message in messages %}
            showAlert("{{ message.message }}", "{{ message.tags }}");
        {% endfor %}
    </script>
    {% endif %}
    <p>Вы уверены, что хотите удалить этот рецепт?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
{% endblock %}