{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>{{ recipe.title }}</h2>
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
    {% endif %}
    <p>{{ recipe.description }}</p>
    <p>Preparation Time: {{ recipe.preparation_time }}</p>
    <p>Preparation Steps:</p>
    <ul>
        {% for step in recipe.preparation_steps %}
            <li>{{ step }}</li>
        {% endfor %}
    </ul>
    <p>Author: {{ recipe.author }}</p>

    <!-- ссылки на страницы редактирования и удаления рецепта -->
    <p>
        <a href="{% url 'edit_recipe' recipe.id %}">Edit</a> |
        <a href="{% url 'delete_recipe' recipe.id %}">Delete</a>
    </p>
<a href="{% url 'home' %}">Home</a>
{% endblock %}
